/*--------------------------------------------------------------------------------------------*/
/* VALORES GENERALES DE TODAS LAS PÁGINAS */
:root {
  --primary: #B0AAC6;
  --secundary: #2167df;
  --background: #1e2021;
  --black-text: rgb(22, 7, 7);
  --white-text: #f9f9fa;
  --button-hover: #945757;
  --Arete: rgb(197, 39, 113);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  gap: 30px;
  flex-grow: 1;
}

@font-face {
  font-family: grasping;
  src: url('tff/grasping.ttf');
}

@font-face {
  font-family: comicate;
  src: url('tff/COMICATE.TTF');
}

@font-face {
  font-family: contrast;
  src: url('tff/contrast.ttf');
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary);
  margin: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin-bottom: 3vh;
}

main h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  color: var(--Arete);
  margin: 1rem;
  text-align: center;
}

header nav {
  background-color: var(--white-text);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  font-family: grasping;
  color: var(--primary);
  font-size: 2.5rem;
  letter-spacing: 0.7rem;
}

nav ul {
  display: flex;
}

nav ul li:last-child {
  border-right: none;
}

nav ul li a {
  color: var(--primary);
  font-size: 1.2rem;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
}

nav ul li:hover {
  background-color: var(--Arete);
  transition: all 0.3s;
}

nav h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav h1 span {
  color: #8981a3;
  font-family: grasping;
  margin-left: 0.5em;
}

.drawer {
  color: var(--primary);
  float: left;
  cursor: pointer;
  display: none;
  margin-left: 1rem;
  border: solid 0.1rem var(--white-text);
  padding: .2rem;
  border-radius: .1rem;
}

#ckbox {
  display: none;
}

/*--------------------------------------------------------------------------------------------*/
/* ESTILOS ESPECÍFICOS DEL MENÚ DESPLEGABLE (aplican a todas las páginas con menú) */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white-text);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--Arete);
  z-index: 1;
  left: 0;
}

.dropdown-content li {
  padding: 0.8rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: block;
  text-align: left;
}

.dropdown-content li:last-child {
  border-bottom: none;
}

.dropdown-content li a {
  display: block;
  padding: 0;
  text-decoration: none;
  color: var(--primary);
  transition: background-color 0.3s ease;
}

.dropdown-content li a:hover {
  background-color: var(--Arete);
  color: var(--white-text);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .fa-caret-down {
  margin-left: 0.5rem;
}


/*--------------------------------------------------------------------------------------------*/
/*PIEE DE PAGINA*/

footer {
  background-color: var(--primary);
  color: var(--white-text);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2vh;
}

.footer {
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding: 2em;
  margin-top: 10em;
  margin-bottom: 0;
  background-color: #8981a3;
}



/*--------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES PARA RESPONSIVE (aplican a todas las páginas) */
@media (max-width: 1020px) {
  nav {
    justify-content: flex-start;
  }

  .drawer {
    display: block;
  }

  nav h1 {
    margin-left: 1rem;
  }

  nav ul {
    position: fixed;
    width: 50%;
    height: 60vh;
    background-color: var(--primary);
    top: 10vh;
    left: -100%;
    text-align: left;
    transition: all 0.5s;
    flex-direction: column;
  }

  nav ul li {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    border-bottom: solid 0.1rem rgba(201, 196, 196, 0.4);
  }

  nav ul li a {
    background-color: var(--white-text);
    width: 50%;
    height: 100%;
  }

  #ckbox:checked~.menu-box {
    left: 0;
  }

  footer {
    text-align: center;
  }
}

/* Ajustes para pantallas aún más pequeñas */
@media (max-width: 768px) {
  .estilo-pagina {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  .imagen-estilo {
    width: 80%;
    max-width: 300px;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .explicacion-estilo {
    width: 90%;
    text-align: center;
  }

  .explicacion-estilo h2 {
    font-size: 2rem;
  }

  .explicacion-estilo p {
    font-size: 1rem;
  }
}


/*---------------------------------------------------------------------------------------------------*/
/*-----------paginas baile---------------*/
/* Estilos generales */

.estilo-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  flex-wrap: wrap;
  gap: 2rem;
}

.imagen-estilo {
  width: 100%;
  max-width: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.imagen-estilo img {
  width: 100%;
  height: auto;
  display: block;
}

.explicacion-estilo {
  width: 50%;
  text-align: left;
}

.explicacion-estilo h2 {
  color: var(--Arete);
  margin-bottom: 1rem;
  font-family: sans-serif;
  font-size: 2.5rem;
}

.explicacion-estilo p {
  color: var(--black-text);
  line-height: 1.7;
  font-size: 1.1rem;
}


/*--------------------------------------------------------------------------------------------*/
.video-fondo {
  position: relative;
  height: 80vh;
  width: 80vh;
  overflow: hidden;
}

.video-fondo video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 1;
  object-fit: cover;
  filter: brightness(0.6);
}

video {
  max-width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
}

/*--------------------------------------------------------------------------------------------*/

/*----------SOMOS----------*/
.quienes-somos-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    flex-wrap: wrap;
    gap: 2rem;
}

.foto-contenedor {
    width: 30%;
    min-width: 200px; 
    height: auto;
    overflow: hidden;
    border-radius: 10%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.foto-contenedor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.texto-explicativo {
    flex-grow: 1;
    text-align: center;
    padding: 2rem;
    min-width: 300px; 
}

.texto-explicativo h2 {
  color: var(--white-text);
  margin-bottom: 1rem;
  font-family: sans-serif;
  font-size: 2rem;
}

.texto-explicativo p {
    color: var(--white-text);
    line-height: 1.6;
    font-size: 1rem;
}


/*--------------------------------------------------------------------------------------------*/
/* ESTILOS ESPECÍFICOS DE LA PÁGINA DE CONTACTO (contacto.html) */

.main-content h2 {
  color: var(--white-text);
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-family: sans-serif;
}

.formulario-contacto {
  background-color: var(--white-text);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  margin: 2rem auto;
}

.formulario-contacto form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  color: var(--black-text);
  margin-bottom: 0.3rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group input[type="time"],
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
  color: var(--black-text);
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--secundary);
  box-shadow: 0 0 5px rgba(33, 103, 223, 0.5);
}

.form-group select option {
  color: var(--black-text);
}

.form-group.radio-group p,
.form-group.checkbox-group p {
  font-size: 1rem;
  color: var(--black-text);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-group.radio-group div,
.form-group.checkbox-group div {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.form-group.radio-group input[type="radio"],
.form-group.checkbox-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

.botones {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  justify-content: flex-end;
}

.botones button {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botones button[type="submit"] {
  background-color: var(--primary);
  color: var(--white-text);
}

.botones button[type="submit"]:hover {
  background-color: #1c8b84;
}

.botones button[type="reset"] {
  background-color: #c3c1cc;
  color: var(--white-text);
}

.botones button[type="reset"]:hover {
  background-color: #d14f4f;
}

.form-group label strong {
  color: #f44336;
}

.form-group label em {
  font-style: normal;
  color: #777;
  font-weight: normal;
}

/*--------------------------------------------------------------------------------*/
/*-----------TABLA------------------------------*/
.horarios-fondo {
  background-image: url('img/logotipo_arete_01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.horarios-fondo th,
.horarios-fondo td {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-color: rgba(255, 255, 255, 0.2);
}

.horarios-fondo th {
  background-color: rgba(0, 0, 0, 0.7);
}

.horarios-fondo .vacio {
  background-color: transparent;
  color: white;
}

table {
  width: 80%;
  margin: 50px auto;
  border-collapse: collapse;
  font-size: 1.1rem;
}

th,
td {
  border: 1.5px solid #ccc;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 1.2rem;
}

.main-content h2 {
  color: var(--white-text);
  text-align: center;
  margin-top: 15px;
  margin-bottom: -30px;
}

.cont-img {
  display: flex;
  align-items: center;
}

.img {
  width: 50%;
  height: auto;
}

.cont-img img:last-child {
  margin-right: 0;
}




/*--------------------------------------------------------------------------------------------*/
/* ESTILOS ESPECÍFICOS DE LA PÁGINA DE INICIO (index.html) */

main form {
  display: flex;
  justify-content: center;
  gap: 1rem
}

main form button {
  margin-top: 1rem;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.primary-btn {
  background-color: var(--primary);
  color: var(--white-text);
}

.outline-btn {
  background-color: var(--white-text);
  color: var(--primary);
  border: solid 0.1rem var(--primary);
}

.primary-btn:hover {
  background-color: var(--white-text);
  color: var(--primary);
}

.outline-btn:hover {
  background-color: var(--primary);
  color: var(--white-text);
}

main .image img {
  max-height: 70vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image h1 {
  color: #e7eeed;
  font-family: grasping;
  font-size: 50px;
  text-align: center;
}

/* Estilos para los enlaces dentro de los botones para asegurar que hereden el color */
.primary-btn a,
.outline-btn a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 2.5rem;
}


.container {
  display: flex;
  width: 80%;
  margin-top: 20px;
}

.image-container {
  flex: 1;
  margin-right: 20px;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.content form {
  display: flex;
  gap: 10px;
}


/*********************************************/

/* Estilos del "Hero" (sección principal) */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.hero-content {
  text-align: center;
  max-width: 600px;
  margin-right: 40px;
}

.hero-content h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  color: var(--white-text);
}

.hero-content h1 span {
  color: var(--Arete);
  font-family: comicate;
}

.hero-text {
  line-height: 1.6;
  margin-bottom: 1.5em;
  color: var(--white-text);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nosotros-btn {
  background-color: var(--white-text);
  color: var(--Arete);
}

.nosotros-btn:hover {
  background-color: var(--Arete);
  color: var(--white-text);
}

.hero-buttons {
  margin-top: 1.5em;
}

.primary-btn,
.outline-btn {
  margin: 0 10px;
}

.primary-btn,
.outline-btn {
  background-color: var(--primary);
  color: var(--Arete);
  border: none;
}

.primary-btn:hover,
.outline-btn:hover {
  background-color: var(--primary);
  color: var(--white-text);
}

.hero-image {
  max-width: 400px;
}

.hero-image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}


/* Sección del video */
.about-video {
  background-color: var(--primary);
  padding: 30px 20px;
  text-align: center;
  border-top: 20px solid var(--white-text);
  border-bottom: 20px solid var(--white-text);
}

.video-container {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.about-video video {
  width: 100%;
  height: auto;
}